<div class="flip-card-clickarea w-full h-full cursor-pointer aspect-square py-2" id="{{this.id}}">
    <div class="flip-card-inner h-full w-full" >
        <div class="flip-card-front bg-secondary text-white rounded-lg p-3 md:p-8 h-full w-full flex justify-between items-center flex-col">
            <div class="w-full h-4/6 flex justify-between items-center">
                <img src="/assets/img/cases/{{this.logofile}}" alt="Logo Circu Li-Ion" class="w-full"/>
            </div>
            <div class="bg-gray-dark rounded px-2 py-0.5 uppercase font-extrabold text-sm">#{{this.type}}</div>
        </div>
        <div class="flip-card-back bg-[#1E063A] text-white rounded-lg p-3 md:p-8">
            <h3 class="font-extrabold text-base md:text-lg pb-3">{{this.name}}</h3>
            <div class="text-sm md:text-base">{{this.short}}</div>
        </div>
    </div>
</div>

<div class="case-details overflow-scroll md:overflow-auto col-start-1 col-span-2 md:col-span-4 rounded-lg bg-gray-ultra-light fixed md:relative top-0 bottom-0 left-0 right-0 z-50 md:z-10 p-4">
    <div class="close-btn cursor-pointer flex items-center justify-center absolute top-3 right-3 w-12 h-12 bg-tertiary rounded-lg text-4xl shadow shadow-tertiary/40 transition z-50 md:z-100 transition-200 ease-linear hover:scale-105 hover:brightness-90 hover:shadow-hover hover:shadow-tertiary/60">
        ×
    </div>
    <div class="grid grid-cols-1 md:grid-cols-12 justify-items-center mt-4 md:mt-8">
        <div class="w-16 h-16 col-start-2 col-span-1 hidden md:block relative bottom-[6px]">
            <svg viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="fill-primary" fill-rule="evenodd" clip-rule="evenodd" d="M44.5858 20.5858C45.3668 19.8047 46.6332 19.8047 47.4142 20.5858L57.4142 30.5858C58.1953 31.3668 58.1953 32.6332 57.4142 33.4142L47.4142 43.4142C46.6332 44.1953 45.3668 44.1953 44.5858 43.4142C43.8047 42.6332 43.8047 41.3668 44.5858 40.5858L51.1716 34H8C6.89543 34 6 33.1046 6 32C6 30.8954 6.89543 30 8 30H51.1716L44.5858 23.4142C43.8047 22.6332 43.8047 21.3668 44.5858 20.5858Z"/>
            </svg>
        </div>
        
        <div class="col-span-1 md:col-span-4 text-secondary mb-4">
            <h3 class="font-extrabold text-2xl md:text-3.5xl">{{this.name}}</h3>
            <div class="text-base mt-2 md:mt-4 mb-4 md:mb-8">{{this.description}}</div>
            {{#if this.wedid}}
            <h4 class="font-extrabold text-lg md:text-xl">What we did for {{this.name}}:</h4>
            {{#each this.wedid}}
            <div>
                <div class="flex my-2">
                    <div class="w-6 min-w-[1.5rem] h-6 mt-0.5">
                        <svg class="fill-primary" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.25 12C2.25 6.61522 6.61522 2.25 12 2.25C17.3848 2.25 21.75 6.61522 21.75 12C21.75 17.3848 17.3848 21.75 12 21.75C6.61522 21.75 2.25 17.3848 2.25 12ZM15.6103 10.1859C15.8511 9.84887 15.773 9.38046 15.4359 9.1397C15.0989 8.89894 14.6305 8.97701 14.3897 9.31407L11.1543 13.8436L9.53033 12.2197C9.23744 11.9268 8.76256 11.9268 8.46967 12.2197C8.17678 12.5126 8.17678 12.9874 8.46967 13.2803L10.7197 15.5303C10.8756 15.6862 11.0921 15.7656 11.3119 15.7474C11.5316 15.7293 11.7322 15.6153 11.8603 15.4359L15.6103 10.1859Z"/>
                        </svg>
                    </div>
                    <div class="pl-3">{{this}}</div>
                </div>
            </div>
            {{/each}}
            {{/if}}
        </div>
        <div class="col-span-1 md:col-span-6 pl-0 md:pl-8 relative bottom-5">
            <div class="flex flex-row gap-3 px-4 relative top-7">
                {{#each this.sdg}}
                    <div class="p-3 bg-white rounded-xl">
                        <img class="w-28" src="/assets/img/sdg/{{this.logo}}" alt="Logo of SDG '{{this.name}}'"/>
                    </div>
                {{/each}}
            </div>
            <img class="rounded-xl" src="/assets/img/{{this.artworkfile}}" alt="Visual for {{this.name}}"/>
        </div>
        {{#if this.quote}}
        <div class="col-start-1 md:col-start-3 col-span-1 md:col-span-9 text-center text-base md:text-lg w-full bg-white rounded-2xl px-6 pt-14 pb-8 md:pb-[70px] relative overflow-visible mt-8 md:mt-12 mb-32">
            <svg class="fill-gray-light w-16 h-16 absolute -top-4 left-8" viewBox="0 0 64 57" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M38.2886 45.2276C36.6881 45.8988 36.0169 47.8091 36.7397 49.358L39.2695 54.6758C39.9924 56.1725 41.7477 56.8442 43.2966 56.1725C47.6851 54.3139 51.454 51.8873 54.4485 48.9444C58.1142 45.4858 60.5924 41.5103 61.9347 37.1219C63.2771 32.6812 63.9999 26.6412 63.9999 18.9484V3.09826C63.9999 1.3945 62.6059 0.000511696 60.9021 0.000511845L40.6119 0.000513619C38.9081 0.000513768 37.5142 1.3945 37.5142 3.09826V23.3885C37.5142 25.0928 38.9081 26.4863 40.6119 26.4863H50.3182C50.2149 31.7013 48.9758 35.8828 46.7041 39.0327C44.8455 41.5615 42.0575 43.6266 38.2886 45.2276Z"/>
                <path d="M1.83842 45.2276C0.237912 45.8988 -0.43275 47.8091 0.289542 49.358L2.81937 54.6236C3.54218 56.1209 5.29757 56.7921 6.84645 56.1209C11.1833 54.2622 14.9011 51.8357 17.9467 48.9444C21.6129 45.4336 24.1422 41.4582 25.4851 37.0697C26.8274 32.7334 27.4981 26.6923 27.4981 18.9479L27.4981 3.09775C27.4981 1.39399 26.1041 -1.48948e-07 24.4004 0L4.11009 1.77383e-06C2.40633 1.92278e-06 1.01235 1.39399 1.01235 3.09775L1.01235 23.388C1.01235 25.0923 2.40634 26.4858 4.1101 26.4858H13.868C13.7647 31.7008 12.5251 35.8823 10.254 39.0322C8.39532 41.5615 5.60734 43.6266 1.83842 45.2276Z"/>
            </svg>
            <p>{{this.quote.text}}</p>
            <div class="absolute bottom-[-4.5rem] md:bottom-[-6.5rem] left-8 flex items-center">
                <div class="w-[90px] md:w-36 h-[90px] md:h-36 rounded-2xl shadow shadow-gray/20 overflow-hidden">
                    <img src="/assets/img/{{this.quote.img}}" alt="picture of {{this.quote.name}}"/>
                </div>
                <div class="text-left ml-4">
                    <div class="font-extrabold text-base md:text-lg">{{this.quote.name}}</div>
                    <div class="text-sm md:text-base">{{this.quote.title}}</div>
                </div>
            </div>
        </div>
        {{/if}}
        <div class="col-start-1 md:col-start-3 col-span-1 md:col-span-9 mb-6 mt-4 w-full">
            <a class="rounded-xl py-2 px-10 text-secondary bg-tertiary font-extrabold shadow shadow-tertiary/40 transition transition-200 ease-linear hover:scale-105 hover:brightness-90 hover:shadow-hover hover:shadow-tertiary/60" target="_blank" title="Website of {{this.name}}" href="{{this.link}}">Go to {{this.name}}</a>
        </div>
    </div>
</div>