  <div class="navbar-container">
    <nav class="navbar navbar-expand-lg navbar-light" data-sticky="top" id="navbar">
      <div class="container">
        {{#if general.indexFile}}
          <a class="navbar-brand navbar-brand-dynamic-color" href="#top"
            style="height: 45px; transform: scale(1.4) translateX(15px);">
            <img alt="Twip" data-inject-svg src="/assets/img/twipLogoFont.svg">
          </a>
        {{else}}
          <a class="navbar-brand navbar-brand-dynamic-color fade-page" href="/"
            style="height: 45px; transform: scale(1.4) translateX(15px);">
            <img alt="Twip" data-inject-svg src="/assets/img/twipLogoFont.svg">
          </a>
        {{/if}}
        <div class="d-flex align-items-center order-lg-3">
          <button aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target=".navbar-collapse" data-toggle="collapse" type="button">
            <img alt="Navbar Toggler Open Icon" class="navbar-toggler-open icon icon-sm" data-inject-svg
              src="/assets/img/icons/interface/icon-menu.svg">
            <img alt="Navbar Toggler Close Icon" class="navbar-toggler-close icon icon-sm" data-inject-svg
              src="/assets/img/icons/interface/icon-x.svg">
          </button>
        </div>
        {{#if general.showNavItems}}
          <div class="collapse navbar-collapse order-3 order-lg-2 justify-content-lg-center" id="navigation-menu">
            <ul class="navbar-nav my-3 my-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#boost">{{sec.nav.boost}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#impact">{{sec.nav.impact}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#team">{{sec.nav.team}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#experience">{{sec.nav.experience}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">{{sec.nav.contact}}</a>
              </li>
            </ul>
            <!--
            <ul class="navbar-nav langSwitcher">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                  <span class="d-lg-none pr-2">Language</span>
                  <img class="icon mr-3" alt="Language Switcher Icon" src="/assets/img/icon_language.svg"/>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  {{#if general.lang.en}}
                    <a class="dropdown-item usedLang" href="#">English</a>
                    <a class="dropdown-item" href="javascript:sessionStorage.setItem('forceLang','de'); window.location = '/';">German</a>
                  {{/if}}
                  {{#if general.lang.de}}
                    <a class="dropdown-item" href="javascript:sessionStorage.setItem('forceLang','en'); window.location = '/en';">English</a>
                    <a class="dropdown-item usedLang" href="#">German</a>
                  {{/if}}
                </div>
              </li>
            </ul>
            -->
          </div>
        {{/if}}
      </div>
    </nav>
  </div>