<!doctype html>
<html lang="de">
<!--Todo-->

<head>
    <meta charset="utf-8">
    <title>Twip! Venture Studio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Twip! Venture Studio">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <!--Todo-->
    <link rel="alternate" href="https://twip.de/en" hreflang="en" />


    <!-- Begin loading animation -->
    <link href="/assets/css/loaders/loader-pulse.css" rel="stylesheet" type="text/css" media="all" />
    <!-- End loading animation -->
    <link href="/assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/assets/css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,600,700&display=swap" rel="stylesheet">
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="275">
    <div class="loader">
        <div class="loading-animation"></div>
    </div>

    {{> sec_nav}}

    <section class="o-hidden">
        <div class="container">
            <div
                class="pb-5 row align-items-center justify-content-center justify-content-lg-between text-center text-lg-left flex-lg-row-reverse">
                <div class="col-md-9 col-lg-6 col-xl-5 mb-4 mb-lg-0 pr-lg-5 pr-xl-0">
                    <div data-aos="fade-in" data-aos-delay="250">
                        <h1 id="claim" class="display-3">{{sec.top.title.[0]}} <mark data-aos="highlight-text"
                                data-aos-delay="500">{{sec.top.title.[1]}}</mark><br />{{sec.top.title.[2]}}
                            <mark data-aos="highlight-text" data-aos-delay="750">{{sec.top.title.[3]}}.</mark></h1>
                        <p class="lead">{{sec.top.subtitle}}</p>
                        <div class="mt-4 mt-md-5">
                            <a href="#boost" class="btn-twip btn btn-primary flex-shrink-0">
                                <span>{{sec.top.cta}}</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-lg-6" data-aos="fade-left">
                    <div id="twipLogoContainer" class="d-none d-lg-block">
                        <!-- <img id="whiteBg" width="100%" src="/assets/img/twipLogo_whiteBg.png" alt="whiteBg"/> -->
                        <img id="yellowBg" width="100%" src="/assets/img/twipLogo_yellowBg.png" alt="yellowBg" />
                        <img id="outline" width="100%" src="/assets/img/twipLogo_outline.png" alt="outline" />
                        <img id="font" width="100%" src="/assets/img/twipLogo_font.png" alt="font" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="boost" class="pb-0 pt-0">
        <div class="divider divider-bottom bg-primary-3 mt-5"></div>
    </section>
    <section class="pt-5 bg-primary-3 text-black">
        <div class="container">
            <div class="row section-title justify-content-center text-center">
                <div class="col-md-10 col-lg-9 col-xl-8">
                    <h3 class="display-4">{{sec.boost.offering.title}}</h3>
                    <div class="lead">{{sec.boost.offering.subtitle}}</div>
                </div>
            </div>
            <div class="row align-items-center justify-content-around text-center text-lg-left pt-0">
                <div class="col-md-9 col-lg-6 col-xl-5 mb-4 mb-md-5 mb-lg-0 pl-lg-5 pl-xl-0">
                    <div>
                        <h6>> {{sec.boost.offering.startup.as}}</h6>
                        <h3 class="h1">{{sec.boost.offering.startup.title}}</h3>
                        <p class="lead">{{sec.boost.offering.startup.text}}</p>
                        <a href={{sec.boost.offering.startup.mailTemplate}} class="btn-twip btn-twip-alt btn btn-primary flex-shrink-0">
                            <span>{{sec.boost.offering.startup.cta}}</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-9 col-lg-6 col-xl-5 p-4">
                    <img src="/assets/img/illustration_startup.png" alt="Startup Illustration" class="img-fluid">
                </div>
            </div>
            <div class="row align-items-center justify-content-around text-center text-lg-left pt-5">
                <div class="col-md-9 col-lg-6 col-xl-5 mb-4 mb-md-5 mb-lg-0 order-lg-2 pl-lg-5 pl-xl-0">
                    <div>
                        <h6>> {{sec.boost.offering.corporate.as}}</h6>
                        <h2 class="h1">{{sec.boost.offering.corporate.title}}</h2>
                        <p class="lead">{{sec.boost.offering.corporate.text}}</p>
                        <a href={{sec.boost.offering.corporate.mailTemplate}} class="btn-twip btn btn-primary flex-shrink-0">
                            <span>{{sec.boost.offering.corporate.cta}}</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-9 col-lg-6 col-xl-5 order-lg-1 p-4">
                    <img src="/assets/img/illustration_corporate.png" alt="Illustration Corporate" class="img-fluid">
                </div>
            </div>
        </div>
    </section>

    <section class="pb-5">
        <div class="container">
            <div class="row section-title justify-content-center text-center">
                <div class="col-md-10 col-lg-9 col-xl-8">
                    <h3 class="display-4">{{sec.boost.valueProp.title}}</h3>
                    <div class="lead">{{sec.boost.valueProp.subtitle}}</div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6 mb-4 mb-md-5" data-aos="fade-up" data-aos-delay="100">
                    <div class="mx-xl-4 assetDetails">
                        <img src="/assets/img/logos/product/kyan.svg" alt="Kyan logo" class="mb-4" width="75px">
                        <h5>{{sec.boost.valueProp.product.title}}</h5>
                        <p class="lead">{{sec.boost.valueProp.product.text}}</p>
                    </div>
                </div>
                <div class="col-md-6 mb-4 mb-md-5" data-aos="fade-up" data-aos-delay="200">
                    <div class="mx-xl-4 assetDetails">
                        <img src="/assets/img/logos/product/atica.svg" alt="Atica logo" class="mb-4" width="75px">
                        <h5>{{sec.boost.valueProp.team.title}}</h5>
                        <p class="lead">{{sec.boost.valueProp.team.text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="impact" class="bg-primary-3 text-black">
        <div class="container">
            <div class="row section-title justify-content-center text-center mb-0">
                <div class="col-md-10 col-lg-9 col-xl-8">
                    <h3 class="display-4">{{sec.impact.title}}</h3>
                </div>
            </div>
            <div class="row align-items-center justify-content-around text-center text-lg-left">
                <div class="col-md-9 col-lg-6 col-xl-5 mb-4 mb-md-5 mb-lg-0 pl-lg-5 pl-xl-0">
                    <div>
                        <p class="lead">{{sec.impact.text}}</p>
                    </div>
                </div>
                <div class="col-md-9 col-lg-6 col-xl-5 p-4">
                    <img src="/assets/img/illustration_impact.png" alt="Impact Illustration" class="img-fluid">
                </div>
            </div>
            <div class="row justify-content-center mt-2">
                <div class="col d-flex flex-wrap justify-content-center" style="margin: 0 110px;">
                    <h3 class="p-2 text-dark col-md-12 text-center" style="font-weight: 600;">{{sec.impact.focusText}}</h3>
                    <div class="p-2 text-dark col-md-6">
                        <div class="media rounded align-items-center pl-3 pr-4 pl-md-4 pr-md-5 py-2 bg-white text-dark">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                                class="injected-svg icon mr-3 bg-primary"
                                data-src="/assets/img/icons/theme/navigation/route.svg">
                                <title>Icon For Route</title>
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24" opacity="0"></polygon>
                                    <path
                                        d="M8,7 C7.44771525,7 7,6.55228475 7,6 C7,5.44771525 7.44771525,5 8,5 L16,5 C18.209139,5 20,6.790861 20,9 C20,11.209139 18.209139,13 16,13 L8,13 C6.8954305,13 6,13.8954305 6,15 C6,16.1045695 6.8954305,17 8,17 L17,17 C17.5522847,17 18,17.4477153 18,18 C18,18.5522847 17.5522847,19 17,19 L8,19 C5.790861,19 4,17.209139 4,15 C4,12.790861 5.790861,11 8,11 L16,11 C17.1045695,11 18,10.1045695 18,9 C18,7.8954305 17.1045695,7 16,7 L8,7 Z"
                                        fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                    <path
                                        d="M9.79289322,3.79289322 C10.1834175,3.40236893 10.8165825,3.40236893 11.2071068,3.79289322 C11.5976311,4.18341751 11.5976311,4.81658249 11.2071068,5.20710678 L8.20710678,8.20710678 C7.81658249,8.59763107 7.18341751,8.59763107 6.79289322,8.20710678 L3.79289322,5.20710678 C3.40236893,4.81658249 3.40236893,4.18341751 3.79289322,3.79289322 C4.18341751,3.40236893 4.81658249,3.40236893 5.20710678,3.79289322 L7.5,6.08578644 L9.79289322,3.79289322 Z"
                                        fill="#000000" fill-rule="nonzero"
                                        transform="translate(7.500000, 6.000000) rotate(-270.000000) translate(-7.500000, -6.000000) ">
                                    </path>
                                    <path
                                        d="M18.7928932,15.7928932 C19.1834175,15.4023689 19.8165825,15.4023689 20.2071068,15.7928932 C20.5976311,16.1834175 20.5976311,16.8165825 20.2071068,17.2071068 L17.2071068,20.2071068 C16.8165825,20.5976311 16.1834175,20.5976311 15.7928932,20.2071068 L12.7928932,17.2071068 C12.4023689,16.8165825 12.4023689,16.1834175 12.7928932,15.7928932 C13.1834175,15.4023689 13.8165825,15.4023689 14.2071068,15.7928932 L16.5,18.0857864 L18.7928932,15.7928932 Z"
                                        fill="#000000" fill-rule="nonzero"
                                        transform="translate(16.500000, 18.000000) scale(1, -1) rotate(270.000000) translate(-16.500000, -18.000000) ">
                                    </path>
                                </g>
                            </svg>
                            <h5 class="mb-0">{{sec.impact.focus.health}}</h5>
                        </div>
                    </div>
                    <div class="p-2 text-dark col-md-6">
                        <div class="media rounded align-items-center pl-3 pr-4 pl-md-4 pr-md-5 py-2 bg-white text-dark">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                                class="injected-svg icon mr-3 bg-primary"
                                data-src="/assets/img/icons/theme/layout/layout-left-panel-2.svg">
                                <title>Icon For Layout-left-panel-2</title>
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect opacity="0" x="0" y="0" width="24" height="24"></rect>
                                    <path
                                        d="M10,4 L21,4 C21.5522847,4 22,4.44771525 22,5 L22,7 C22,7.55228475 21.5522847,8 21,8 L10,8 C9.44771525,8 9,7.55228475 9,7 L9,5 C9,4.44771525 9.44771525,4 10,4 Z M10,10 L21,10 C21.5522847,10 22,10.4477153 22,11 L22,13 C22,13.5522847 21.5522847,14 21,14 L10,14 C9.44771525,14 9,13.5522847 9,13 L9,11 C9,10.4477153 9.44771525,10 10,10 Z M10,16 L21,16 C21.5522847,16 22,16.4477153 22,17 L22,19 C22,19.5522847 21.5522847,20 21,20 L10,20 C9.44771525,20 9,19.5522847 9,19 L9,17 C9,16.4477153 9.44771525,16 10,16 Z"
                                        fill="#000000"></path>
                                    <rect fill="#000000" opacity="0.3" x="2" y="4" width="5" height="16" rx="1"></rect>
                                </g>
                            </svg>
                            <h5 class="mb-0">{{sec.impact.focus.climate}}</h5>
                        </div>
                    </div>
                    <div class="p-2 text-dark col-md-6">
                        <div class="media rounded align-items-center pl-3 pr-4 pl-md-4 pr-md-5 py-2 bg-white text-dark">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                                class="injected-svg icon mr-3 bg-primary"
                                data-src="/assets/img/icons/theme/shopping/box-2.svg">
                                <title>Icon For Box#2</title>
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect opacity="0" x="0" y="0" width="24" height="24"></rect>
                                    <path
                                        d="M4,9.67471899 L10.880262,13.6470401 C10.9543486,13.689814 11.0320333,13.7207107 11.1111111,13.740321 L11.1111111,21.4444444 L4.49070127,17.526473 C4.18655139,17.3464765 4,17.0193034 4,16.6658832 L4,9.67471899 Z M20,9.56911707 L20,16.6658832 C20,17.0193034 19.8134486,17.3464765 19.5092987,17.526473 L12.8888889,21.4444444 L12.8888889,13.6728275 C12.9050191,13.6647696 12.9210067,13.6561758 12.9368301,13.6470401 L20,9.56911707 Z"
                                        fill="#000000"></path>
                                    <path
                                        d="M4.21611835,7.74669402 C4.30015839,7.64056877 4.40623188,7.55087574 4.5299008,7.48500698 L11.5299008,3.75665466 C11.8237589,3.60013944 12.1762411,3.60013944 12.4700992,3.75665466 L19.4700992,7.48500698 C19.5654307,7.53578262 19.6503066,7.60071528 19.7226939,7.67641889 L12.0479413,12.1074394 C11.9974761,12.1365754 11.9509488,12.1699127 11.9085461,12.2067543 C11.8661433,12.1699127 11.819616,12.1365754 11.7691509,12.1074394 L4.21611835,7.74669402 Z"
                                        fill="#000000" opacity="0.3"></path>
                                </g>
                            </svg>
                            <h5 class="mb-0">{{sec.impact.focus.ressource}}</h5>
                        </div>
                    </div>
                    <div class="p-2 text-dark col-md-6">
                        <div class="media rounded align-items-center pl-3 pr-4 pl-md-4 pr-md-5 py-2 bg-white text-dark">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                                class="injected-svg icon mr-3 bg-primary"
                                data-src="/assets/img/icons/theme/general/thunder-move.svg">
                                <title>Icon For Thunder-move</title>
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect opacity="0" x="0" y="0" width="24" height="24"></rect>
                                    <path
                                        d="M16.3740377,19.9389434 L22.2226499,11.1660251 C22.4524142,10.8213786 22.3592838,10.3557266 22.0146373,10.1259623 C21.8914367,10.0438285 21.7466809,10 21.5986122,10 L17,10 L17,4.47708173 C17,4.06286817 16.6642136,3.72708173 16.25,3.72708173 C15.9992351,3.72708173 15.7650616,3.85240758 15.6259623,4.06105658 L9.7773501,12.8339749 C9.54758575,13.1786214 9.64071616,13.6442734 9.98536267,13.8740377 C10.1085633,13.9561715 10.2533191,14 10.4013878,14 L15,14 L15,19.5229183 C15,19.9371318 15.3357864,20.2729183 15.75,20.2729183 C16.0007649,20.2729183 16.2349384,20.1475924 16.3740377,19.9389434 Z"
                                        fill="#000000"></path>
                                    <path
                                        d="M4.5,5 L9.5,5 C10.3284271,5 11,5.67157288 11,6.5 C11,7.32842712 10.3284271,8 9.5,8 L4.5,8 C3.67157288,8 3,7.32842712 3,6.5 C3,5.67157288 3.67157288,5 4.5,5 Z M4.5,17 L9.5,17 C10.3284271,17 11,17.6715729 11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L4.5,20 C3.67157288,20 3,19.3284271 3,18.5 C3,17.6715729 3.67157288,17 4.5,17 Z M2.5,11 L6.5,11 C7.32842712,11 8,11.6715729 8,12.5 C8,13.3284271 7.32842712,14 6.5,14 L2.5,14 C1.67157288,14 1,13.3284271 1,12.5 C1,11.6715729 1.67157288,11 2.5,11 Z"
                                        fill="#000000" opacity="0.3"></path>
                                </g>
                            </svg>
                            <h5 class="mb-0">{{sec.impact.focus.society}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="team" class="pb-3">
        <div class="container">
            <div class="row section-title justify-content-center text-center">
                <div class="col-md-10 col-lg-9 col-xl-8">
                    <h3 class="display-4">{{sec.team.title}}</h3>
                    <div class="lead">{{sec.team.subtitle}}</div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6 col-md-4 text-center mb-5">
                    <div class="d-flex flex-column align-items-center twipee">
                        <img src="/assets/img/nic.jpg" alt="Nicolas Olberg profile image" class="avatar avatar-xl mb-3">
                        <h5 class="mb-2">Nicolas Olberg</h5>
                        <ul class="list-unstyled d-flex mb-0">
                            <li class="mx-2">
                                <a href="https://www.linkedin.com/in/nicolas-olberg-15259387/" target="_blank"
                                    class="hover-fade-out">
                                    <img src="/assets/img/icons/social/linkedin.svg" alt="Linkedin" class="icon icon-sm"
                                        data-inject-svg>
                                </a>
                            </li>
                            <li class="mx-2">
                                <a href="mailto:nic@twip.de" class="hover-fade-out">
                                    <img src="/assets/img/icons/interface/icon-mail.svg" alt="Email" class="icon icon-sm"
                                        data-inject-svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 text-center mb-5">
                    <div class="d-flex flex-column align-items-center twipee">
                        <img src="/assets/img/katrin.jpg" alt="Katrin Kallweit profile image"
                            class="avatar avatar-xl mb-3">
                        <h5 class="mb-2">Katrin Kallweit</h5>
                        <ul class="list-unstyled d-flex mb-0">
                            <li class="mx-2">
                                <a href="https://www.linkedin.com/in/dr-katrin-kallweit-97742611/" target="_blank"
                                    class="hover-fade-out">
                                    <img src="/assets/img/icons/social/linkedin.svg" alt="Linkedin" class="icon icon-sm"
                                        data-inject-svg>
                                </a>
                            </li>
                            <li class="mx-2">
                                <a href="mailto:katrin@twip.de" class="hover-fade-out">
                                    <img src="/assets/img/icons/interface/icon-mail.svg" alt="Email" class="icon icon-sm"
                                        data-inject-svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 text-center mb-5">
                    <div class="d-flex flex-column align-items-center twipee">
                        <img src="/assets/img/bernd.jpg" alt="Bernd Schlüter profile image"
                            class="avatar avatar-xl mb-3">
                        <h5 class="mb-2">Bernd Schlüter</h5>
                        <ul class="list-unstyled d-flex mb-0">
                            <li class="mx-2">
                                <a href="https://www.linkedin.com/in/bernd-schl%C3%BCter-10554668/" target="_blank"
                                    class="hover-fade-out">
                                    <img src="/assets/img/icons/social/linkedin.svg" alt="Linkedin" class="icon icon-sm"
                                        data-inject-svg>
                                </a>
                            </li>
                            <li class="mx-2">
                                <a href="mailto:bernd@twip.de" class="hover-fade-out">
                                    <img src="/assets/img/icons/interface/icon-mail.svg" alt="Email" class="icon icon-sm"
                                        data-inject-svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 text-center mb-5">
                    <div class="d-flex flex-column align-items-center twipee">
                        <img src="/assets/img/heiko.jpg" alt="Heiko Deppler profile image" class="avatar avatar-xl mb-3">
                        <h5 class="mb-2">Heiko Deppler</h5>
                        <ul class="list-unstyled d-flex mb-0">
                            <li class="mx-2">
                                <a href="https://www.linkedin.com/in/heiko-deppler-b9033b102/" target="_blank"
                                    class="hover-fade-out">
                                    <img src="/assets/img/icons/social/linkedin.svg" alt="Linkedin" class="icon icon-sm"
                                        data-inject-svg>
                                </a>
                            </li>
                            <li class="mx-2">
                                <a href="mailto:heiko@twip.de" class="hover-fade-out">
                                    <img src="/assets/img/icons/interface/icon-mail.svg" alt="Email" class="icon icon-sm"
                                        data-inject-svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 text-center mb-5">
                    <div class="d-flex flex-column align-items-center twipee">
                        <img src="/assets/img/michi.jpg" alt="Mirembe Nkrumah profile image"
                            class="avatar avatar-xl mb-3">
                        <h5 class="mb-2">Michael Adersberger</h5>
                        <ul class="list-unstyled d-flex mb-0">
                            <li class="mx-2">
                                <a href="https://www.linkedin.com/in/michael-adersberger-899b33180/" target="_blank"
                                    class="hover-fade-out">
                                    <img src="/assets/img/icons/social/linkedin.svg" alt="Linkedin" class="icon icon-sm"
                                        data-inject-svg>
                                </a>
                            </li>
                            <li class="mx-2">
                                <a href="mailto:michi@twip.de" class="hover-fade-out">
                                    <img src="/assets/img/icons/interface/icon-mail.svg" alt="Email" class="icon icon-sm"
                                        data-inject-svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 text-center mb-5">
                    <div class="d-flex flex-column align-items-center twipee">
                        <img src="/assets/img/volker.jpg" alt="Volker Maiborn profile image"
                            class="avatar avatar-xl mb-3">
                        <h5 class="mb-2">Volker Maiborn</h5>
                        <ul class="list-unstyled d-flex mb-0">
                            <li class="mx-2">
                                <a href="https://www.linkedin.com/in/volker-maiborn-918192192/" target="_blank"
                                    class="hover-fade-out">
                                    <img src="/assets/img/icons/social/linkedin.svg" alt="Linkedin" class="icon icon-sm"
                                        data-inject-svg>
                                </a>
                            </li>
                            <li class="mx-2">
                                <a href="mailto:volker@twip.de" class="hover-fade-out">
                                    <img src="/assets/img/icons/interface/icon-mail.svg" alt="Email" class="icon icon-sm"
                                        data-inject-svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="experience" class="bg-primary-3 pt-0 text-black">
        <div class="divider divider-top transform-flip-x bg-white"></div>
        <div class="container">
            <div class="row section-title justify-content-center text-center">
                <div class="col-md-10 col-lg-9 col-xl-8">
                    <h3 class="display-4">{{sec.experience.title}}</h3>
                    <div class="lead">{{{sec.experience.subtitle}}}</div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="row justify-content-center">
                        <div class="col-md-6 mb-3 mb-md-4" data-aos="fade-up" data-aos-delay="10">
                            <div class="card card-body bg-white min-vh-md-30 hover-box-shadow">
                                <div class="flex-fill">
                                    <div class="mx-auto companyLogo">
                                        <img src="/assets/img/qaware_logo.png" alt="Logo QA|ware" />
                                    </div>
                                    <p class="lead text-center">{{sec.experience.qaware.text}}</p>
                                </div>
                                <a href="https://www.qaware.de/unternehmen/" target="_blank"
                                    class="stretched-link text-darkblue text-center">{{sec.experience.qaware.cta}}</a>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3 mb-md-4" data-aos="fade-up" data-aos-delay="20">
                            <div class="card card-body bg-white min-vh-md-30 hover-box-shadow">
                                <div class="flex-fill">
                                    <div class="mx-auto companyLogo">
                                        <img src="/assets/img/maibornwolff_logo.png" alt="Logo MaibornWolff" />
                                    </div>
                                    <p class="lead text-center">{{sec.experience.maibornwolff.text}}</p>
                                </div>
                                <a href="https://www.maibornwolff.de/unternehmen" target="_blank"
                                    class="stretched-link text-darkblue text-center">{{sec.experience.maibornwolff.cta}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center techPillBox mt-3">
                        {{#each sec.experience.technologies}}
                        <span class="badge badge-pill">{{this}}</span>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row section-title justify-content-center text-center">
                <div class="col-md-10 col-lg-9 col-xl-8">
                    <h3 class="display-4">{{sec.contact.title}}</h3>
                    <div class="lead">{{sec.contact.text.[0]}} <a href={{sec.contact.mailTemplate}}>{{sec.contact.text.[1]}}</a> {{sec.contact.text.[2]}} <a
                            href="https://www.linkedin.com/company/twip-venture-studio/"
                            target="_blank">{{sec.contact.text.[3]}}</a>.<br>{{sec.contact.text.[4]}}</div>
                </div>
            </div>
        </div>
    </section>

    {{> sec_footer}}

    {{> sec_stickyScrollTop}}
    {{> sec_stickyMail}}

    {{> script_redirectToEn}}

    {{> script_externalLibs}}

    {{> script_parallaxLogo}}

    {{> script_analytics}}

</body>

</html>