<!doctype html>
<html lang="de">
<!--Todo-->

<head>
    <meta charset="utf-8">
    <title>Twip! Venture Studio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Twip! Venture Studio">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <!--Todo-->
    <link rel="alternate" href="https://twip.de/en" hreflang="en" />


    <!-- Begin loading animation -->
    <link href="/assets/css/loaders/loader-pulse.css" rel="stylesheet" type="text/css" media="all" />
    <!-- End loading animation -->
    <link href="/assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/assets/css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,600,700&display=swap" rel="stylesheet">
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="275">
    <div class="loader">
        <div class="loading-animation"></div>
    </div>

    {{> sec_nav}}

    <section class="o-hidden">
        <div class="container">
            <div
                class="pb-5 row align-items-center justify-content-center justify-content-lg-between text-center text-lg-left flex-lg-row-reverse">
                <div class="col-md-9 col-lg-6 col-xl-5 mb-4 mb-lg-0 pr-lg-5 pr-xl-0">
                    <div data-aos="fade-in" data-aos-delay="250">
                        <h1 id="claim" class="display-3">{{sec.top.title.[0]}} <mark data-aos="highlight-text"
                                data-aos-delay="500">{{sec.top.title.[1]}}</mark><br />{{sec.top.title.[2]}}
                            <mark data-aos="highlight-text" data-aos-delay="750">{{sec.top.title.[3]}}.</mark></h1>
                        <p class="lead">{{sec.top.subtitle}}</p>
                        <div class="mt-4 mt-md-5">
                            <a href="#boost" class="scroll btn-twip btn btn-primary flex-shrink-0">
                                <span>{{sec.top.cta}}</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-lg-6" data-aos="fade-left">
                    <div id="twipLogoContainer" class="d-none d-lg-block">
                        <!-- <img id="whiteBg" width="100%" src="/assets/img/twipLogo_whiteBg.png" alt="whiteBg"/> -->
                        <img id="yellowBg" width="100%" src="/assets/img/twipLogo_yellowBg.png" alt="yellowBg" />
                        <img id="outline" width="100%" src="/assets/img/twipLogo_outline.png" alt="outline" />
                        <img id="font" width="100%" src="/assets/img/twipLogo_font.png" alt="font" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="boost" class="pb-0 pt-0">
        <div class="divider divider-bottom bg-primary-3 mt-5"></div>
    </section>
    <section class="pt-5 bg-primary-3 text-black">
        <div class="container">
            <div class="row section-title justify-content-center text-center">
                <div class="col-md-10 col-lg-9 col-xl-8">
                    <h3 class="display-4">{{sec.boost.offering.title}}</h3>
                    <div class="lead">{{{sec.boost.offering.subtitle}}}</div>
                </div>
            </div>
            <div class="row align-items-center justify-content-around text-center text-lg-left pt-0">
                <div class="col-md-9 col-lg-6 col-xl-5 mb-4 mb-md-5 mb-lg-0 pl-lg-5 pl-xl-0">
                    <div>
                        <h6>> {{sec.boost.offering.startup.as}}</h6>
                        <h3 class="h1">{{sec.boost.offering.startup.title}}</h3>
                        <p class="lead">{{sec.boost.offering.startup.text}}</p>
                        <a href="{{sec.boost.offering.startup.mailTemplate}}" class="btn-twip btn-twip-alt btn btn-primary flex-shrink-0">
                            <span>{{sec.boost.offering.startup.cta}}</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-9 col-lg-6 col-xl-5 p-4">
                    <img src="/assets/img/illustration_startup.png" alt="Startup Illustration" class="img-fluid">
                </div>
            </div>
            <div class="row align-items-center justify-content-around text-center text-lg-left pt-5">
                <div class="col-md-9 col-lg-6 col-xl-5 mb-4 mb-md-5 mb-lg-0 order-lg-2 pl-lg-5 pl-xl-0">
                    <div>
                        <h6>> {{sec.boost.offering.corporate.as}}</h6>
                        <h2 class="h1">{{sec.boost.offering.corporate.title}}</h2>
                        <p class="lead">{{sec.boost.offering.corporate.text}}</p>
                        <a href="{{sec.boost.offering.corporate.mailTemplate}}" class="btn-twip btn btn-primary flex-shrink-0">
                            <span>{{sec.boost.offering.corporate.cta}}</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-9 col-lg-6 col-xl-5 order-lg-1 p-4">
                    <img src="/assets/img/illustration_corporate.png" alt="Illustration Corporate" class="img-fluid">
                </div>
            </div>
        </div>
    </section>

    <section class="pb-5">
        <div class="container">
            <div class="row section-title justify-content-center text-center">
                <div class="col-md-10 col-lg-9 col-xl-8">
                    <h3 class="display-4">{{sec.boost.valueProp.title}}</h3>
                    <div class="lead">{{{sec.boost.valueProp.subtitle}}}</div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6 mb-4 mb-md-5" data-aos="fade-up" data-aos-delay="100">
                    <div class="mx-xl-4 assetDetails">
                        <img src="/assets/img/icon_product.svg" alt="Icon Product" class="mb-4" width="75px">
                        <h5>{{sec.boost.valueProp.product.title}}</h5>
                        <p class="lead">{{sec.boost.valueProp.product.text}}</p>
                    </div>
                </div>
                <div class="col-md-6 mb-4 mb-md-5" data-aos="fade-up" data-aos-delay="200">
                    <div class="mx-xl-4 assetDetails">
                        <img src="/assets/img/icon_team.svg" alt="Icon Team" class="mb-4" width="75px">
                        <h5>{{sec.boost.valueProp.team.title}}</h5>
                        <p class="lead">{{sec.boost.valueProp.team.text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="impact" class="bg-primary-3 text-black">
        <div class="container">
            <div class="row section-title justify-content-center text-center mb-0">
                <div class="col-md-10 col-lg-9 col-xl-8">
                    <h3 class="display-4">{{{sec.impact.title}}}</h3>
                </div>
            </div>
            <div class="row align-items-center justify-content-around text-center text-lg-left">
                <div class="col-md-9 col-lg-6 col-xl-5 mb-4 mb-md-5 mb-lg-0 pl-lg-5 pl-xl-0">
                    <div>
                        <p class="lead">{{sec.impact.text}}</p>
                    </div>
                </div>
                <div class="col-md-9 col-lg-6 col-xl-5 p-4">
                    <img src="/assets/img/illustration_impact.png" alt="Impact Illustration" class="img-fluid">
                </div>
            </div>
            <div class="row justify-content-center mt-2">
                <div class="col d-flex flex-wrap justify-content-center" style="margin: 0 110px;">
                    <h3 class="p-2 text-dark col-md-12 text-center" style="font-weight: 600;">{{sec.impact.focusText}}</h3>
                    <div class="p-2 text-dark col-md-6">
                        <div class="media rounded align-items-center pl-3 pr-4 pl-md-4 pr-md-5 py-2 bg-white text-dark">
                            <img class="icon mr-3" alt="Health Icon" width="24px" height="24px" data-inject-svg src="/assets/img/icon_stethoscope.svg"/>
                            <h5 class="mb-0">{{sec.impact.focus.health}}</h5>
                        </div>
                    </div>
                    <div class="p-2 text-dark col-md-6">
                        <div class="media rounded align-items-center pl-3 pr-4 pl-md-4 pr-md-5 py-2 bg-white text-dark">
                            <img class="icon mr-3" alt="Climate Icon" width="24px" height="24px" data-inject-svg src="/assets/img/icon_climate.svg"/>
                            <h5 class="mb-0">{{sec.impact.focus.climate}}</h5>
                        </div>
                    </div>
                    <div class="p-2 text-dark col-md-6">
                        <div class="media rounded align-items-center pl-3 pr-4 pl-md-4 pr-md-5 py-2 bg-white text-dark">
                            <img class="icon mr-3" alt="Ressource Icon" width="24px" height="24px" data-inject-svg src="/assets/img/icon_ressources.svg"/>
                            <h5 class="mb-0">{{sec.impact.focus.ressource}}</h5>
                        </div>
                    </div>
                    <div class="p-2 text-dark col-md-6">
                        <div class="media rounded align-items-center pl-3 pr-4 pl-md-4 pr-md-5 py-2 bg-white text-dark">
                            <img class="icon mr-3" alt="Society Icon" width="24px" height="24px" data-inject-svg src="/assets/img/icon_society.svg"/>
                            <h5 class="mb-0">{{sec.impact.focus.society}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="team" class="pb-3">
        <div class="container">
            <div class="row section-title justify-content-center text-center">
                <div class="col-md-10 col-lg-9 col-xl-8">
                    <h3 class="display-4">{{sec.team.title}}</h3>
                    <div class="lead">{{{sec.team.subtitle}}}</div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6 col-md-4 text-center mb-5">
                    <div class="d-flex flex-column align-items-center twipee">
                        <img src="/assets/img/bernd.jpg" alt="Bernd Schlüter profile image"
                            class="avatar avatar-xl mb-3">
                        <h5 class="mb-2">Bernd Schlüter</h5>
                        <ul class="list-unstyled d-flex mb-0">
                            <li class="mx-2">
                                <a href="https://www.linkedin.com/in/bernd-schl%C3%BCter-10554668/" target="_blank"
                                    class="hover-fade-out">
                                    <img src="/assets/img/icons/social/linkedin.svg" alt="Linkedin" class="icon icon-sm"
                                        data-inject-svg>
                                </a>
                            </li>
                            <li class="mx-2">
                                <a href="mailto:bernd@twip.de" class="hover-fade-out">
                                    <img src="/assets/img/icons/interface/icon-mail.svg" alt="Email" class="icon icon-sm"
                                        data-inject-svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 text-center mb-5">
                    <div class="d-flex flex-column align-items-center twipee">
                        <img src="/assets/img/heiko.jpg" alt="Heiko Deppler profile image" class="avatar avatar-xl mb-3">
                        <h5 class="mb-2">Heiko Deppler</h5>
                        <ul class="list-unstyled d-flex mb-0">
                            <li class="mx-2">
                                <a href="https://www.linkedin.com/in/heiko-deppler-b9033b102/" target="_blank"
                                    class="hover-fade-out">
                                    <img src="/assets/img/icons/social/linkedin.svg" alt="Linkedin" class="icon icon-sm"
                                        data-inject-svg>
                                </a>
                            </li>
                            <li class="mx-2">
                                <a href="mailto:heiko@twip.de" class="hover-fade-out">
                                    <img src="/assets/img/icons/interface/icon-mail.svg" alt="Email" class="icon icon-sm"
                                        data-inject-svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 text-center mb-5">
                    <div class="d-flex flex-column align-items-center twipee">
                        <img src="/assets/img/katrin.jpg" alt="Katrin Kallweit profile image"
                            class="avatar avatar-xl mb-3">
                        <h5 class="mb-2">Katrin Kallweit</h5>
                        <ul class="list-unstyled d-flex mb-0">
                            <li class="mx-2">
                                <a href="https://www.linkedin.com/in/dr-katrin-kallweit-97742611/" target="_blank"
                                    class="hover-fade-out">
                                    <img src="/assets/img/icons/social/linkedin.svg" alt="Linkedin" class="icon icon-sm"
                                        data-inject-svg>
                                </a>
                            </li>
                            <li class="mx-2">
                                <a href="mailto:katrin@twip.de" class="hover-fade-out">
                                    <img src="/assets/img/icons/interface/icon-mail.svg" alt="Email" class="icon icon-sm"
                                        data-inject-svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 text-center mb-5">
                    <div class="d-flex flex-column align-items-center twipee">
                        <img src="/assets/img/michi.jpg" alt="Mirembe Nkrumah profile image"
                            class="avatar avatar-xl mb-3">
                        <h5 class="mb-2">Michael Adersberger</h5>
                        <ul class="list-unstyled d-flex mb-0">
                            <li class="mx-2">
                                <a href="https://www.linkedin.com/in/michael-adersberger-899b33180/" target="_blank"
                                    class="hover-fade-out">
                                    <img src="/assets/img/icons/social/linkedin.svg" alt="Linkedin" class="icon icon-sm"
                                        data-inject-svg>
                                </a>
                            </li>
                            <li class="mx-2">
                                <a href="mailto:michi@twip.de" class="hover-fade-out">
                                    <img src="/assets/img/icons/interface/icon-mail.svg" alt="Email" class="icon icon-sm"
                                        data-inject-svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 text-center mb-5">
                    <div class="d-flex flex-column align-items-center twipee">
                        <img src="/assets/img/nic.jpg" alt="Nicolas Olberg profile image" class="avatar avatar-xl mb-3">
                        <h5 class="mb-2">Nicolas Olberg</h5>
                        <ul class="list-unstyled d-flex mb-0">
                            <li class="mx-2">
                                <a href="https://www.linkedin.com/in/nicolas-olberg-15259387/" target="_blank"
                                    class="hover-fade-out">
                                    <img src="/assets/img/icons/social/linkedin.svg" alt="Linkedin" class="icon icon-sm"
                                        data-inject-svg>
                                </a>
                            </li>
                            <li class="mx-2">
                                <a href="mailto:nic@twip.de" class="hover-fade-out">
                                    <img src="/assets/img/icons/interface/icon-mail.svg" alt="Email" class="icon icon-sm"
                                        data-inject-svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 text-center mb-5">
                    <div class="d-flex flex-column align-items-center twipee">
                        <img src="/assets/img/volker.jpg" alt="Volker Maiborn profile image"
                            class="avatar avatar-xl mb-3">
                        <h5 class="mb-2">Volker Maiborn</h5>
                        <ul class="list-unstyled d-flex mb-0">
                            <li class="mx-2">
                                <a href="https://www.linkedin.com/in/volker-maiborn-918192192/" target="_blank"
                                    class="hover-fade-out">
                                    <img src="/assets/img/icons/social/linkedin.svg" alt="Linkedin" class="icon icon-sm"
                                        data-inject-svg>
                                </a>
                            </li>
                            <li class="mx-2">
                                <a href="mailto:volker@twip.de" class="hover-fade-out">
                                    <img src="/assets/img/icons/interface/icon-mail.svg" alt="Email" class="icon icon-sm"
                                        data-inject-svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="experience" class="bg-primary-3 pt-0 text-black">
        <div class="divider divider-top transform-flip-x bg-white"></div>
        <div class="container">
            <div class="row section-title justify-content-center text-center">
                <div class="col-md-10 col-lg-9 col-xl-8">
                    <h3 class="display-4">{{sec.experience.title}}</h3>
                    <div class="lead">{{{sec.experience.subtitle}}}</div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="row justify-content-center">
                        <div class="col-md-6 mb-3 mb-md-4" data-aos="fade-up" data-aos-delay="20">
                            <div class="card card-body bg-white min-vh-md-30 hover-box-shadow">
                                <div class="flex-fill">
                                    <div class="mx-auto companyLogo">
                                        <img src="/assets/img/maibornwolff_logo.png" alt="Logo MaibornWolff" />
                                    </div>
                                    <p class="lead text-center">{{sec.experience.maibornwolff.text}}</p>
                                </div>
                                <a href="https://www.maibornwolff.de/unternehmen" target="_blank"
                                    class="stretched-link text-darkblue text-center">{{sec.experience.maibornwolff.cta}}</a>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3 mb-md-4" data-aos="fade-up" data-aos-delay="10">
                            <div class="card card-body bg-white min-vh-md-30 hover-box-shadow">
                                <div class="flex-fill">
                                    <div class="mx-auto companyLogo">
                                        <img src="/assets/img/qaware_logo.png" alt="Logo QA|ware" />
                                    </div>
                                    <p class="lead text-center">{{sec.experience.qaware.text}}</p>
                                </div>
                                <a href="https://www.qaware.de/unternehmen/" target="_blank"
                                    class="stretched-link text-darkblue text-center">{{sec.experience.qaware.cta}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center techPillBox mt-3" data-aos="fade-down" data-aos-delay="30">
                        {{#each sec.experience.technologies}}
                        <span class="badge badge-pill">{{this}}</span>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row section-title justify-content-center text-center">
                <div class="col-md-10 col-lg-9 col-xl-8">
                    <img src="/assets/img/icon_contact.svg" alt="Icon Product" class="mb-5" width="75px">
                    <h3 class="display-4">{{sec.contact.title}}</h3>
                    <div class="lead">{{sec.contact.text.[0]}} <a href="{{sec.contact.mailTemplate}}">{{sec.contact.text.[1]}}</a> {{sec.contact.text.[2]}} <a
                            href="https://www.linkedin.com/company/twip-venture-studio/"
                            target="_blank">{{sec.contact.text.[3]}}</a>.<br>{{sec.contact.text.[4]}}</div>
                </div>
            </div>
        </div>
    </section>

    {{> sec_footer}}

    {{> sec_stickyScrollTop}}
    {{> sec_stickyMail}}

    {{> script_redirectToEn}}

    {{> script_externalLibs}}

    {{> script_parallaxLogo}}

    {{> script_analytics}}

</body>

</html>